*.sol
Solvers/Source/Include/
Utilities/Source/Include/
_vti_cnf/
_vti_pvt/
*.mexw*
*.nl
*.cfe
*.gen
*.cfs
*.si
*.exp
Help/OPTI_HTML/tex/
Utilities/Install/VisualStudioBuilder/guids.txt
*.lib
*.exe
*.mexw64
*.zip
